@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{  
    margin:0;
    padding:0;    
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: white;
}
body{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 background: url(resources/images/banner.jpg);
 background-size: cover;
 background-position: center;
}

.menu a{
    color: white;
    transition: all 0.2s ease-in-out;
}
.menu a:hover {
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.3rem 1rem #ff2483;
}
.menu .active {
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.3rem 1rem #ff2483;
}
p {
    margin-bottom: 0.5rem;
}
@media (max-width: 1342px){
    hr.solid {
        border-top: 3px solid #bbb;
        width: 700px;
        margin: auto;
        
      }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h2{
        font-size: 1em;
    }
    .btn{
        margin-top: 10px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        display: flex;
        justify-content: center;
        max-width:100%;
        margin-bottom: 20px;
    }
    img{
        max-width: 60%        
    }
    .services .content .serviceBx{
        margin: 10px;
    }
    .work .content .workBx{
        width: 100%;
        padding: 10px;
    }
    .contactInfo{
        margin: 20px 0;
    }
}
@media (max-width: 455px){
    .contactInfo{
        font-size: 12px;
    }
}
